@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	line-height: inherit;
	/* min-height: -webkit-fill-available; */
	/* height: -webkit-fill-available; */
	background: #111;
}

.bg-box {
	background: url(https://i.imgur.com/ASFONjI.png);

	object-fit: cover;
	width: 100%;
	background-size: contain;
	background-position: left;
}

.customb {
	border-image-source: linear-gradient(
		to left,
		rgb(100 15 241 / 80%),
		rgb(255 156 60)
	);
	border-image-slice: 1;
	border-width: 1px;
}

.custombb {
	border-image-source: linear-gradient(
		to top,
		rgb(100 15 241 / 90%),
		rgb(255 156 60)
	);
	border-image-slice: 1;
	border-width: 1px;
}

.custombbb {
	border-image-source: linear-gradient(
		to right,
		rgb(100 15 241 / 90%),
		rgb(255 156 60 / 89%)
	);
	border-image-slice: 1;
	border-width: 1px;
}

h2.borderh2 {
	-webkit-text-stroke: 1px #fff;
}

span.diffout {
	-webkit-text-stroke: 1px #9333ea;
}
