@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	line-height: inherit;
	/* min-height: -webkit-fill-available; */
	/* height: -webkit-fill-available; */
	background: #111;
}

.bg-box {
	background: url(https://i.imgur.com/ASFONjI.png);

	object-fit: cover;
	width: 100%;
	background-size: contain;
	background-position: left;
}

.customb {
	border-image-source: linear-gradient(to right, #d38312, #a83279);
	border-image-slice: 1;
	border-width: 1px;
}

.custombb {
	border-image-source: linear-gradient(to right, #d38312, #a83279);
	border-image-slice: 1;
	border-width: 1px;
}

h2.borderh2 {
	-webkit-text-stroke: 1px #fff;
}

span.diffout {
	-webkit-text-stroke: 1px #9333ea;
}

h2.lightrh2 {
	-webkit-text-stroke: 1px #111;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	transform-origin: 0%;
	z-index: 9999;
	background: -webkit-linear-gradient(
		to right,
		#d38312,
		#a83279
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#d38312,
		#a83279
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
